<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Profit Prediction</title>
  </head>

  <body>
    <h3><div style="text-align:center"><font style="color:#C0C0C0;">Custom Transliteration Unicode mapping  Eng-Hindi No library & local DB</font></div></h3>
    <hr>
    </br>
    

  <div class="card text-center" style="width:21.5em;margin:0 auto;">

   <div class="card-body">
        <p class="card text"><h5><font color="blue"> 
 
  </font></h5></p>
        </div>
        </div>
 
        <p class="card text"><h3><font color="blue">{{prediction}}</font></h3></p>
        </div>
        </div>

    </br>
    <div class='container'>
      <div class='row'>
        <div class='col-6'>
          <form method="POST" action="/predict">
            <div class="form-group">
                <textarea name="NewYork" rows="5" cols="50">
                </textarea>
                </label>
               </div>
 

               </div>
                 <input class='btn btn-primary' type='submit' value='Submit'>
             

            </form>

          </div>
          </div>
          </div>
  </body>

</html>
